<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RutaLog" value="C:\logs\WinServices\" />
    <add key="PrefijoOWNER" value="APD"/>
    <add key="MinTiempoEjecutarProceso" value="60000"/>
    <!--Tiempo minimo para configurarse en TiempoEjecutarProceso ..En Milisegundos-..60Mil es 1 minuto -->
    <add key="TiempoEjecutarProceso" value="60000"/>
    <!--Tiempo de ejecucion del proceso..En Milisegundos-->

  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ISEWF_Radio" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.254.10/SEWF_TvCable.svc" binding="basicHttpBinding"  bindingConfiguration="BasicHttpBinding_ISEWF_Radio" contract="ISEWF_Radio" name="BasicHttpBinding_ISEWF_Radio" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>