@{
    ViewBag.Title = "APDAYC :: COMISIONES";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Escala de Comisiones</title>
</head>
<body>
    <div>
        
    </div>
</body>
</html>
