@{
    ViewBag.Title = "APDAYC :: INICIO";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2>Bienvenidos al Sistema SGRDA</h2>*@
<!DOCTYPE html>
<html>
<head>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"  />
    <style>
         #tbprincipal td {
         
        }

        /*#logo {
	    color: White;
	    margin: 4px;
	    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	    opacity: .5;
	    -moz-opacity: .5;
        }*/
    </style>
</head>
   <body>
        <center>
            <br /><br /> <br /><br /> <br /><br /><br /><br /> <br /><br /> <br /><br />
            <br /><br /> <br /><br /> <br /><br />
            <br /><br /> <br /><br /> <br /><br />
            <br /><br /> <br /><br /> <br /><br />
            <br /><br /> <br /><br /> <br />
            @*<font style="text-align:center; font-size:24px; font-weight:bold; color:black;">
                L&RICS (Licenses and Rights Collecting System)
            </font>*@
            <br /><br /><br /><br />
            @*<div style="text-align:center;">
                <div style="text-align:center;">
                    <table id="tbprincipal"   border="0"; style=" width:100%;text-align:center;">
                        <tr style="text-align:center;">
                            <td style="text-align:center;">
                                <img src="~/Images/logo/principal.jpg" border="0" id="logo";  >
                            </td>
                        </tr>
                    </table>
                    <br /><br /><br /><br />
                </div>
            </div>*@
        </center>
    </body>
</html>