@{
    ViewBag.Title = "Principal";
}

@*<h2>Bienvenidos al Sistema SGRDA</h2>*@
<!DOCTYPE html>
<html>
<head>
<link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css"  />
    <style>
         #tbprincipal td {
         left:200px;
         margin-left:300px;
        }

        #logo {
	    color: White;
	    margin: 4px;
	    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	    opacity: .5;
	    -moz-opacity: .5;
        }
    </style>
</head>
    <body>
        <center>
            <br /><br />
            <font style="text-align:center; font-size:24px; font-weight:bold; color:black;">SISTEMA DE GESTIÓN Y RECAUDO DE DERECHO DE AUTOR</font>
            <div>
                <div style="text-align:center;">
                    <table id="tbprincipal" style=" background-image:url('Content/img/logoapdayc.jpeg'); width:749px; height:320px;" border="0">
                        <tr>
                            <td>
                                <img src="../Content/img/logoapdayc.jpeg" border="0" id="logo"; width="250" height="300px">
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </center>
    </body>
</html>