<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="RutaLog" value="C:\logs\WebServices\" />

    <add key="horaIniPrintFact" value="240000" />
    <add key="horaFinPrintFact" value="060000" />
    <add key="validarHoraEjecucion" value="S" />
   

    <add key="idWorkFlowRadio" value="" />
    <add key="idWorkFlowLicencia" value="" />
  
  <!--PARAMETROS DE CONFIGURACION PARA PROC AUTOMATICO DE TV Y CABLE-->
  <add key="idModulo" value="1" />
  <add key="rubro" value="TV" />
  <add key="accionMorosoId" value="32" />
  <add key="accionMorosoPrejudicialId" value="0" />
  <add key="cantidadMoroso" value="3" />
  <add key="cantidadMorosoPrejudicial" value="4" />
  <add key="workFlowTvCable" value="10016" />
   <!--PARAMETROS DE CONFIGURACION PARA PROC AUTOMATICO DE TV Y CABLE-->

    
  </appSettings>
  
  <connectionStrings>
	  <add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PRODUCCION	 ; user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_Prueba;user id=sa;password=apdayc2015*" providerName="System.Data.SqlClient" />-->
	  <add name="ConexionDbOracle"
			  connectionString="Data Source=SGSBD;Persist Security Info=True;User ID=SGS;Password=SGSAPD;"
			  providerName="System.Data.OracleClient" />
  </connectionStrings>
  
  <system.web>
   
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5"/>
  </system.web>
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior>
          <!-- Para evitar revelar información de los metadatos, establezca los valores siguientes en false antes de la implementación -->
          <serviceMetadata httpGetEnabled="true" httpsGetEnabled="true"/>
          <!-- Para recibir detalles de las excepciones en los fallos, con el fin de poder realizar la depuración, establezca el valor siguiente en true. Para no revelar información sobre las excepciones, establézcalo en false antes de la implementación -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
        <add binding="basicHttpsBinding" scheme="https" />
    </protocolMapping>    
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para examinar el directorio raíz de la aplicación web durante la depuración, establezca el valor siguiente en true.
        Establézcalo en false antes de la implementación para evitar revelar información sobre la carpeta de aplicación web.
      -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>

