<?xml version="1.0" encoding="utf-8"?>
<!--  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="paginacion" value="5" />
    <add key="OWNER" value="APD" />
    <add key="PREFIJO" value="LYRICS" />
    <add key="LibConfigFactura" value="1" />
    <add key="NombreEmpresa" value="APDAYC" />
    <add key="RutaLog" value="C:\logs\" />
    <add key="ValidarRuc" value="" />
    <add key="AGENTE_AUTORIZADO" value="12" />
    <add key="AGENTE_SERVICIO" value="43" />

    <add key="PAGO_REPARTIR" value="PROPORCIONAL" />
    <add key="MSG_VAL_UBIGEO" value="El usuario no puede realizar la operaciòn, no se puede realizar actividades fuera del territorio asignado." />
    <!--<add key="FE" value="False" />-->
    <add key="FE" value="FALSE" />
    <add key="PermitirRevertNC" value="FALSE" />
    
    <add key="RegMontoLirics" value="TRUE" />
    
    <add key="DiasFechaAnulacion" value="5" />
    
    <add key="RutaFisicaFE" value="H:\Apdayc_\Proyecto_SGRDA\SRC_8_FE_CARGA_MASIVA\FrontEnd\Proyect_Apdayc\Archivos\Comprobantes\" />

    <!--Ruta Web donde se mostraran los archivos:-->
    <add key="RutaWebFE" value="http://localhost:9035/Archivos/Comprobantes/" />

    <!--<add key="PAGO_REPARTIR" value="IMPUESTO-BASE"/>-->
    <!--<add key="PAGO_REPARTIR" value="BASE-IMPUESTO"/>-->

    <!--<add key="RutaFisicaImgSocio" value="C:\fuente\src39\FrontEnd\Proyect_Apdayc\Archivos\Socio\" />
		<add key="RutaWebImgSocio" value="http://localhost:9035/Archivos/Socio/" />-->
    
    <!--parametros para documentos de licencia Alfresco -->
    <add key="ActivarAlfresco" value="FALSE" />
    <add key="ActivarAlfresco_Cobros" value="F" />
    <add key="CarpetaDocumentosAutoGenerados" value="T" />
    
    <add key="RutaDocumentoLyrics" value="\\192.168.252.105\Documentos\" />
    <add key="RutaDocumentoAlfresco" value="\\192.168.252.93\Users\Public\Documents\" />

    <add key="UsuarioAlfresco" value="alfresco" />
    <add key="ContraseñaAlfreso" value="ahBuGZO4" />

    <add key="rutaUploadAlfresco" value="http://192.168.252.93:8080/alfresco/api/-default-/cmis/versions/1.0/atom" />
    <add key="RutaEntradaDocumentosAlfresco" value="\\192.168.252.105\Archivos\ArchivosAlfresco" />
    <add key="RutaSalidaWeb" value="http://192.168.252.105/Archivos/ArchivosAlfresco/" />
    <add key="RutaSalidaDocumentosAlfresco" value="\\192.168.252.93\contentstore\" />

    <!--parametros para documentos de Cobros Lyrics -->
    <!--C:\inetpub\wwwroot\Documentos\Cobros-->
    <!--<add key="RutaFisicaImgLicenciaDoc" value="C:\inetpub\wwwroot\Documentos\Cobros\"/>-->
    <add key="RutaFisicaImgBECDoc" value="//192.168.252.105/Archivos/DepositosBancarios/" />
    <add key="RutaWebImgBecDoc" value="http://192.168.252.105/Archivos/DepositosBancarios/" />
    <!--<add key="RutaFisicaImgBECDoc" value="\\192.168.252.105\Archivos\Cobros\"/>-->
    <!--<add key="RutaWebImgBecDoc" value="http://192.168.252.105/Archivos/Cobros/"/>-->

    <!--parametros para entidad de BPS-->
    <add key="RutaFisicaImgDerecho" value="C:\fuente\src123\FrontEnd\Proyect_Apdayc\Archivos\Derecho\" />
    <add key="RutaWebImgDerecho" value="http://localhost:9035/Archivos/Derecho/" />
    <add key="RutaFisicaImgRecaudador" value="C:\fuente\src123\FrontEnd\Proyect_Apdayc\Archivos\Recaudador\" />
    <add key="RutaWebImgRecaudador" value="http://localhost:9035/Archivos/Recaudador/" />
    <add key="RutaFisicaImgProveedor" value="C:\fuente\src123\FrontEnd\Proyect_Apdayc\Archivos\Proveedor\" />
    <add key="RutaWebImgProveedor" value="http://localhost:9035/Archivos/Proveedor/" />
    <add key="RutaFisicaImgEmpleado" value="C:\fuente\src123\FrontEnd\Proyect_Apdayc\Archivos\Empleado\" />
    <add key="RutaWebImgEmpleado" value="http://localhost:9035/Archivos/Empleado/" />
    <add key="RutaFisicaImgAsociacion" value="C:\fuente\src123\FrontEnd\Proyect_Apdayc\Archivos\Asociacion\" />
    <add key="RutaWebImgAsociacion" value="http://localhost:9035/Archivos/Asociacion/" />
    <add key="RutaFisicaImgSocio" value="C:\fuente\src127\FrontEnd\Proyect_Apdayc\Archivos\Socio\" />
    <add key="RutaWebImgSocio" value="http://localhost:9035/Archivos/Socio/" />
    <!--fin parametros para entidad de BPS-->

    <!--parametros para workflow licenciamiento-->
    <!--
    <add key="RutaPlantillaLicenciaWeb" value="C:\inetpub\wwwroot\Documentos\" />
    <add key="RutaPlantillaLicencia" value="C:\inetpub\wwwroot\Documentos\" />
    <add key="RutaPlantillaCorreo" value="C:\inetpub\wwwroot\Plantilla\Correo\" />
    <add key="RutaPlantillaCorreoWeb" value="C:\inetpub\wwwroot\Plantilla\Correo\" />
    -->
    <!--fin parametros para workflow-->

    <!--parametros para workflow licenciamiento-->
    <!--<add key="RutaPlantillaLicenciaWeb" value="F:\DESARROLLO\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Documentos\" />
    <add key="RutaPlantillaLicencia" value="F:\DESARROLLO\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Documentos\" />-->
    
    
    <!--<add key="RutaPlantillaLicenciaWeb" value="http://localhost:9035/Archivos/Documentos/" />
    --><!--<add key="RutaPlantillaLicencia"    value="G:\DESARROLLO\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Documentos\" />--><!--
    <add key="RutaPlantillaLicencia"    value="D:\DESARROLLO\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Documentos\" />-->
    
    <add key="RutaPlantillaLicenciaWeb" value="http://192.168.252.105/Documentos/" />
    <add key="RutaPlantillaLicencia" value="\\192.168.252.105\Documentos\" />
    <add key="RutaPlantillaCorreo" value="C:\inetpub\wwwroot\Plantilla\Correo\" />
    <add key="RutaPlantillaCorreoWeb" value="C:\inetpub\wwwroot\Plantilla\Correo\" />
    
    
    <!--<add key="RutaPlantillaCorreoWeb" value="C:\inetpub\wwwroot\Plantilla\Correo\" />-->
    <!--fin parametros para workflow-->

    <!--parametros para documentops de licencia-->
    <!--
    <add key="RutaDocLicSalidaWeb" value="http://localhost:9035/Archivos/Licencia/" />
    <add key="RutaDocLicSalida" value="C:\inetpub\wwwroot\Documentos\Salida\" />
    <add key="RutaDocLicEntradaWeb" value="http://localhost:9035/Archivos/Documentos/Entrada/" />
    <add key="RutaDocLicEntrada" value="C:\inetpub\wwwroot\Documentos\Entrada\" />
    <add key="RutaFisicaImgLicenciaDoc" value="C:\fuente\src123\FrontEnd\Proyect_Apdayc\Archivos\Licencia\" />
    <add key="RutaWebImgLicenciaDoc" value="http://localhost:9035/Archivos/Licencia/" />
    -->
    <!--fin parametros para workflow-->

    <!--parametros para documentops de licencia-->
    <add key="RutaDocLicSalidaWeb" value="C:\inetpub\wwwroot\Documentos\Entrada\" />
    <!--<add key="RutaDocLicSalida" value="G:\DESARROLLO\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Documentos\Salida\" />-->
    <add key="RutaDocLicSalida" value=" C:\inetpub\wwwroot\Documentos\Entrada\" />
   
    
    <!--<add key="RutaDocLicSalidaWeb" value="http://192.168.252.105/Archivos/Salida/"/>    
    <add key="RutaDocLicSalida" value="\\192.168.252.105\Archivos\Salida\"/>-->
    <add key="RutaDocLicEntradaWeb" value="http://localhost:9035/Archivos/Documentos/Entrada/" />
    <add key="RutaDocLicEntrada" value="C:\inetpub\wwwroot\Documentos\Entrada\" />
    <add key="RutaFisicaImgLicenciaDoc" value="\\192.168.252.105\Archivos\Licencia\" />
    <add key="RutaWebImgLicenciaDoc" value="http://192.168.252.105/Archivos/Licencia/" />
    <!--fin parametros para workflow-->


    <!--<add key="RutaFisicaImgEstablecimiento" value="E:\Keneo\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Establecimiento\" />-->
    <!--<add key="RutaFisicaImgEstablecimiento" value="G:\DESARROLLO\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Establecimiento\" />                                                 
    <add key="RutaWebImgEstablecimiento" value="http://localhost:9035/Archivos/Establecimiento/" />-->

    <add key="RutaFisicaImgEstablecimiento" value="\\192.168.252.10\Archivos\Establecimiento\" />
    <add key="RutaWebImgEstablecimiento" value="http://192.168.252.105/Archivos/Establecimiento/" />

    <add key="RutaFisicaImgCampania" value="E:\Keneo\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Campania\" />
    <add key="RutaWebImgCampania" value="http://localhost:9035/Archivos/Campania/" />

    <add key="RutaFisicaImgContactoCallCenter" value="E:\Keneo\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\ContactoCallCenter\" />
    <add key="RutaWebImgContactoCallCenter" value="http://localhost:9035/Archivos/ContactoCallCenter/" />

    <add key="RutaFisicaImgOficina" value="F:\DESARROLLO\SGRDA\FrontEnd\Proyect_Apdayc\Archivos\Oficina\" />
    <!--<add key="RutaFisicaImgOficina" value="F:\DESARROLLO\imagenes\" />-->
    <add key="RutaWebImgOficina" value="http://localhost:9035/Archivos/Oficina/" />
    <add key="RutaFisicaImgObjects" value="H:\Apdayc_\Images\" />
    <add key="RutaWebImgObjects" value="http://localhost:9035/Images/" />

    <add key="PrefijoSist" value="LYRICS" />


    <add key="Direccionoficina" value="Av Petit Thouars 5038, Miraflores" />
    <add key="RucApdayc" value="20100538203" />
    <add key="PrefijoSist" value="LYRICS" />

    <!--variable para el sistema de seguidad y accesos-->
    <add key="PaginaMain" value="../Principal/" />
    <!--<add key="idPerfilAdminSeg" value="19" />-->
    <add key="idPerfilAdminSeg" value="19" />
    <!--variable para el sistema de seguidad y accesos-->


    <add key="FECHA_PRIMERA_COMUNICACION_USUARIO" value="4" />
    <add key="RUM" value="5" />
    <add key="PAGINA_WEB" value="6" />
    <add key="FRECUENCIA_RADIO" value="7" />
    <add key="FECHA_COBRO_INICIO" value="01/11/2016" />


    <add key="CorreoSalida" value="1UKdvcRNAtG7E5CCvlNg+gJGXqOdBQ5P" />
    <add key="PwdCorreoSalida" value="wewewewewewe==" />
    <add key="HostCorreo" value="hFw/0rdeeJD3XPVi9m9rHg==" />
    <add key="isGmail" value="1" />


    <add key="prefijoObjetoMail" value="MAIL" />
    <!--variable para el sistema de seguidad y accesos-->
    <add key="prefijoObjetoMailUsu" value="MAILU" />
    <!--variable para el sistema de seguidad y accesos-->
    <add key="prefijoObjetoMailTer" value="MAILT" />
    <!--variable para el sistema de seguidad y accesos-->
    <add key="prefijoObjetoDocIn" value="DENT" />
    <!--variable paratipo de objeto de entrada-->


    <!--
    WRKF_OID SGRDA = 29
    WRKF_OID_SGRDA_Test = 20058
    WRKF_OID_SGRDA_Prueba = 20065
    -->
    <add key="WRKF_OID" value="20065" />


    <add key="SizeFileUpload" value="2097152" />
    <!--Represetnado en Bytes   .. 2097152=2MB-->
    <add key="idTipoEspecialDscto" value="11" />

    <!--variable para el sistema de seguidad y accesos-->
  </appSettings>





  <connectionStrings>
    <!--El default connection es la que define la conexion con la base de datos de seguridad-->

    <!--<add name="conexion" connectionString="data source=192.168.252.6;initial catalog=SGRDA_PRUEBA;user id=user_prj1;password=11apdayc4*" providerName="System.Data.SqlClient" />
    <add name="BD_SEGEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.252.6;initial catalog=BD_SEG2;persist security info=True;user id=user_prj1;password=apdayc4*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PAGO ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_DIVISIONES ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PRODUCCION ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_CADENA ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_CADENA ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_CADENA_DEMO ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_CADENA ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PRODUCCION ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PROD_FEBRERO ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_TEST ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PROD_FEBRERO ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;init4ial catalog=SGRDA_PROD_FEBRERO ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_TEST ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_TEST ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.14;initial catalog=SGRDA_OFICINAS ;user id=sa;password=Password2017" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.14;initial catalog=SGRDA_FER ;user id=sa;password=Password2017" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.14;initial catalog=SGRDA_REGISTRO_VTA ;user id=sa;password=Password2017" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_GESTORAS ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_JHON ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_FER ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PRODUCCION;  user id=sa;password=apdayc2015*" providerName="System.Data.SqlClient"/>
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PRODUCCION;  user id=sa;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_JHON;  user id=sa;password=apdayc2015*" providerName="System.Data.SqlClient" />-->
  
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog= SGRDA_SAP;  user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->    
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PRODUCCION ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_ENTORNO_PRUEBA ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <!--<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_ESTADISTICA ;user id=user_sgrda;password=apdayc2015*" providerName="System.Data.SqlClient"/>-->
    <add name="BD_SEGEntities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.252.105;initial catalog=BD_SEG;persist security info=True;user id=sa;password=apdayc2015*;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ConexionDbOracle" connectionString="Data Source=SGSBD;Persist Security Info=True;User ID=SGS;Password=SGSAPD;" providerName="System.Data.OracleClient" />

  </connectionStrings>
  <!--<connectionStrings>
	-->
  <!--El default connection es la que define la conexion con la base de datos de seguridad-->
  <!--
	<add name="conexion" connectionString="data source=.; initial catalog=SGRDA; integrated security = true;" providerName="System.Data.SqlClient" />
  </connectionStrings>-->
  <system.web>
    <!--<authentication mode="Windows"/>
    <identity impersonate="true" userName="SRVPROJ\userProyecto" password="IV6SpE5R"/>
    <trust level="Full" originUrl="" processRequestInApplicationTrust="true"/>-->
    
    <globalization uiCulture="es" culture="es-PE" />
    <httpRuntime targetFramework="4.5" />
    <compilation debug="true" targetFramework="4.5" />
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Optimization" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <!--<handlers>
	  <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
	  <remove name="OPTIONSVerbHandler" />
	  <remove name="TRACEVerbHandler" />
	  <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
	</handlers>-->
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer>
  <!--<runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      -->
  <!--<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>-->
  <!--

	<dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed"  culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.1.0" />
      </dependentAssembly>
		
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>-->
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages.Razor" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.1.0.0" newVersion="5.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="itextsharp" publicKeyToken="8354ae6d2174ddca" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.6.0" newVersion="4.1.6.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>



  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="CustomerETDLoadASPSoap" />
        <binding name="Service1Soap" />
        <binding name="WssCargaBajasSoap" />
        <binding name="consultaDocumentosPeruSoap" maxBufferSize="5242880"
          maxReceivedMessageSize="5242880">
          <readerQuotas maxDepth="32" maxStringContentLength="5242880"
            maxArrayLength="16384" maxBytesPerRead="4096" maxNameTableCharCount="16384" />
        </binding>
        <binding name="consultaDocumentosPeruSoap1" />
        <binding name="WssCargaBajasSoap1" />
        <binding name="consultaDocumentosPeruSoap2" />
        <binding name="CustomerETDLoadASPSoap1" />
      </basicHttpBinding>
    </bindings>

    
    <client>
      <endpoint address="http://104.210.37.198/wssConsultaDocPeru/consultaDocumentosPeru.asmx"
        binding="basicHttpBinding" bindingConfiguration="consultaDocumentosPeruSoap"
        contract="SGRDA_PDF.consultaDocumentosPeruSoap" name="consultaDocumentosPeruSoap" />
      <endpoint address="http://pruebas.ecomprobantes.pe/wssCustomerETDLoadBDUBL21/CustomerETDLoadASP.asmx"
        binding="basicHttpBinding" bindingConfiguration="CustomerETDLoadASPSoap1"
        contract="SGRDA_Carga_Contingencia.CustomerETDLoadASPSoap" name="CustomerETDLoadASPSoap1" />
      <endpoint address="http://pruebas.ecomprobantes.pe/wssCargaBajas/cargaBajas.asmx"
        binding="basicHttpBinding" bindingConfiguration="WssCargaBajasSoap"
        contract="SGRDA_Bajas.WssCargaBajasSoap" name="WssCargaBajasSoap" />
      <endpoint address="http://pruebas.ecomprobantes.pe/wssCustomerETDLoadBDUBL21/CustomerETDLoadASP.asmx"
        binding="basicHttpBinding" bindingConfiguration="CustomerETDLoadASPSoap"
        contract="SGRDA_Carga.CustomerETDLoadASPSoap" name="CustomerETDLoadASPSoap" />
      <endpoint address="http://pruebas.ecomprobantes.pe/wssConsultaEstadoSuc/ConsultaEstado.asmx"
        binding="basicHttpBinding" bindingConfiguration="Service1Soap"
        contract="SGRDA_Estado.Service1Soap" name="Service1Soap" />
    </client>
  
  </system.serviceModel>
 

</configuration>