<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="RutaLog" value="C:\logs\" />
    <add key="OWNER" value="APD" />
    <add key="PrefijoFact1" value="INVOICE" />
    <add key="PrefijoFact2" value="LYRICS" />
    <add key="PrintName" value="EPSON FX-2190 ESC/P" />
    <add key="EjecutarImpresion1" value="10000" />
    <add key="EjecutarImpresion2" value="5000" />
    <add key="TimeToLaunchEvento2" value="5000" />
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <connectionStrings>
    
   
<add name="conexion" connectionString="data source=192.168.252.105;initial catalog=SGRDA_PRUEBA;user id=sa;password=apdayc2015*" providerName="System.Data.SqlClient" />

  </connectionStrings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
          <binding name="BasicHttpBinding_ISEFactura" />
          <binding name="BasicHttpBinding_ISEPreImpresion" />
        <binding name="BasicHttpBinding_ISEWF_Radio" />
		  <binding name="BasicHttpBinding_ISEArtista" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://192.168.252.10/sgrda_services/SEPreImpresion.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISEPreImpresion" contract="ISEPreImpresion" name="BasicHttpBinding_ISEPreImpresion" />
	    <endpoint address="http://192.168.252.10/sgrda_services/SEFactura.svc" binding="basicHttpBinding"   bindingConfiguration="BasicHttpBinding_ISEFactura" contract="ISEFactura"  name="BasicHttpBinding_ISEFactura" />
      <endpoint address="http://localhost:9037/SEWF_Radio.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISEWF_Radio" contract="ISEWF_Radio" name="BasicHttpBinding_ISEWF_Radio" />
	  <endpoint address="http://localhost:9037/SEArtista.svc"  binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ISEArtista" contract="ISEArtista"  name="BasicHttpBinding_ISEArtista" />
    </client>

     
    
  </system.serviceModel>
</configuration>